{% extends 'base.html' %}

{% block  title %}About{% endblock title  %}
{%block body %}

<body>
    <header>
      <div class="bg-dark collapse show" id="navbarHeader" style="">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the Ryans, or any other background places. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social places sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Best Places</h4>
              <ul class="list-unstyled">
                <li><a href="" class="text-white">Follow on Twitter</a></li>
                <li><a href="" class="text-white">Like on Facebook</a></li>
                <li><a href="" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Album</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Tourist places</h1>
          <p class="lead text-muted">Tourism and travel-related services include services provided by hotels and restaurants (including catering), travel agencies and tour operator services, tourist guide services and other related services.</p>
          <p>
            <a href="" class="btn btn-primary my-2">Book Tourist Place</a>
            <a href="" class="btn btn-secondary my-2">Visit pictures in country</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src='https://images.unsplash.com/photo-1619120238346-978e07731e77?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80' data-holder-rendered="true">
                <div class="card-body">
                    <h6 class='card-text'>Best Places to Visit in Shifuji,Maldives</h6>
                  <p class="card-text">One of the best places to visit in Maldives, Shifuji is the sea of golden sand beaches, eye-soothing....</p>
                  <div class="d-flex justify-content-between align-items-center"> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src='https://images.unsplash.com/photo-1524467128837-00f6644866d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60' data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <h6 class='card-text'>Best Places to Visit in Bhutan,Bhutan</h6>
                  <p class="card-text">Bhutan is open! Bhutan Tourism now welcomes you to explore its beauty with a new tourism policy and .</p>
                  <div class="d-flex justify-content-between align-items-center">
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src='https://images.unsplash.com/photo-1528127269322-539801943592?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80' data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <h6 class='card-text'>Best Places to Visit in Phuket,Thailand</h6>
                  <p class="card-text">Unlike other popular Thailand mountain beaches, there are some special things about tourist that make best places </p>
                  <div class="d-flex justify-content-between align-items-center"> 
                  </div>
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </body>
    </main>

{%endblock body %}